{{ form_start(form) }}
    <div class="input-group mb-3">
        {{ form_widget(form.query) }}
        <div class="input-group-append">
            <button class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
        </div>
    </div>
{{ form_end(form) }}

