<nav class="my-2 my-md-0 me-md-3">
    <a class="p-2 text-dark" href="{{ path('invoice_header_index') }}">Invoices</a>
    <a class="p-2 text-dark" href="{{ path('location_index') }}">Locations</a>
</nav>
