{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <hr>
    <ol>
        <li>
            <span class="badge badge-success">Done</span> Create an Application that connects to MySQL<br />
        </li>
        <li>
            <span class="badge badge-success">Done</span> Create a routine that receive: Range Date, Status and Location (The fields must be optional to the final user) and return the list of invoices with the following information: Location name, date, status and total invoice value.<br />
            <a class="btn btn-link" href="{{ path('invoice_header_index') }}">Example on this page</a>
        </li>
        <li>
            <span class="badge badge-success">Done</span> Create a routine that receive the location id and return the sum of invoice values grouped by status.<br />
            <a class="btn btn-link" href="{{ path('location_index') }}">Click the eye icon on one of the items listed here</a>
        </li>
        <li>
            <span class="badge badge-success">Done</span> Create a simple list page to show the result<br />
        </li>
        <li>
            <span class="badge badge-success">Done</span> Create a MySQL query that return the quantity of Lines by Invoice (It is not necessary link this query to your sourcecode)<br />
            <a class="btn btn-link" href="{{ path('invoice_header_index') }}">Example on this page</a>
        </li>
    </ol>
    <hr>
    <p><a href="https://github.com/iampedropiedade/kitchencut">Git repository</a></p>
{% endblock %}
